body {
    margin: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 16px;
    line-height: 30px;    
    color: #000000;
    background-color: #eeeeee;  
}

.site-navigation,
.user-navigation {
    list-style: none;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
    text-decoration: underline;    
}

.service-list {
    text-align: center;
}

.service-list h3 {
    font-size: 24px;
}

.service-list p {
    line-height: 24px;
    color: #283136;
}

.button {
    padding: 19px 39px 18px;
    line-height: 18px;
    color: #ffffff;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
}
.button-red {   
    background-color: #fb565a;
}

.button-green {   
    background-color: #00ca74;
}

.button-yellow {
    background-color: #efc84a;
}

.main-footer {
    text-align: center;
}

.main-footer b {
    font-size: 36px;
    line-height: 36px;
}

.main-footer p {    
    line-height: 22px;
    color: #444444;
}

.footer-social {
    list-style: none;
}

.footer-social a {
    background-color: #e1e1e1; 
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #e74246;    
}

.footer-social a:active {
    background-color: #d7373b;
}

.modal {    
    color: #000000;
    background-color: #ffffff;   
}

.modal h2 {
    font-size: 45px;
    line-height: 45px;
}

.appointment-item-input {
    width: 360px;
    height: 50px;    
    background-color: #ffffff;
}

.appointment-item-comment {
    width: 760px;
    height: 118px;    
    background-color: #ffffff;
}

.button-send {
    width: 260px;
    height: 50px;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.page-title {
    font-size: 55px;
    line-height: 55px;
    text-align: center;

    background-color: #eeeeee;
}

.filter fieldset {
    border: none;  
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
    padding: 19px 88px 18px 89px;
    width: 260px;
    height: 50px;
    line-height: 18px;    
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: rgba(0, 1, 1, 0.1);
}

.catalog-list {
    list-style: none;
}

.catalog-item a {
    color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
    color: #fb565a;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog-item h3 {
    font-size: 18px;
    line-height: 30px;
}

.catalog-item p {
    
    line-height: 18px;
    color: #666666;
}

a.button {
    color: #ffffff;
}

a.button:hover,
a.button:focus {
    background-color: #e74246;
}
a.button:active {
    background-color: #d7373b;
}

.button {
    padding: 19px 60px 18px 62px;
    text-align: center;    
    line-height: 18px;
    border-radius: 3px;
    background-color: #fb565a;
}

.project {
    width: 360px;
    height: 231px;
    text-align: center;
    background-color: #eeeeee;
}

