body {
    margin: 0px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
    background-color: #ffffff;
}

.container {
    max-width: 1160px;
    padding: 0 20px;
    margin: 0 auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    text-decoration: none;
}

.main-header {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
    /*margin-bottom: 80px;*/
}

.main-header h1 {
    padding: 0;
    margin: 0;
    background-color: #eeeeee; 
}
.main-navigation {
    display: flex;
    font-size: 16px;
    line-height: 30px;    
    color: #000000;
    background-color: #eeeeee;  
}

.main-header-logo {
    padding: 0;
    margin: 0;
    margin-left: 140px;
    margin-right: 202px;  
    margin-top: 49px;
}

.main-navigation-wrapper {
    padding-bottom: 0px;
}

.main-navigation-wrapper .container {
    display: flex;
}

.main-navigation-wrapper li {
    margin-right: 48px;
}

.site-navigation,
.user-navigation {
    display: flex;
    
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 83px;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current {
    text-decoration: underline;    
}

.user-navigation {
    margin-left: 245px;
}

.user-navigation a {
    background-image: url("/img/basket-icon.svg");
    background-repeat: no-repeat;
    padding-left: 26px; 
}
/*
.user-navigation a::before {
    
}
*/
.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 60px;
    margin-left: 140px;
    list-style: none;
}

.service-list li {
    margin-right: 100px;
}

.service-list h3 {
    font-size: 24px;
    padding: 30px 0 26px;
}

.service-list p {
    line-height: 24px;
    color: #283136;
    padding: 0 0 35px;
}

.button {
    padding: 19px 39px 18px;
    line-height: 18px;
    color: #ffffff;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
}
.button.button-red {   
    background-color: #fb565a;
}

.button.button-green {   
    background-color: #00ca74;
}

.button.button-yellow {
    background-color: #efc84a;
}
.button.button-red:hover,
.button.button-red:focus {
    background-color: #e74246;
}
.button.button-red:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.button.button-green:hover,
.button.button-green:focus {
    background-color: #00bc6c;
}
.button.button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.button.button-yellow:hover,
.button.button-yellow:focus {
    background-color: #eab534;
}
.button.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.main-footer {
    margin: 0;
    padding: 69px 0;
}

.main-footer .container {
    display: flex;
    padding: 0;
    margin: 0;
}

.main-footer b {
    display: flex;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    margin-left: 139px;
    margin-bottom: 12px;
}

.main-footer p {
    display: flex; 
    line-height: 22px;
    color: #444444;
    padding: 0;
    margin: 0;
    margin-left: 141px;
}

.footer-social {
    display: flex;
    text-align: ;
    padding: 0;
    margin: 0;
    margin-left: 140px;
    list-style: none;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    margin-right: 12px;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #e74246;    
}

.footer-social a:active {
    background-color: #d7373b;
}

.footer-social a:active path {
    fill: rgba(0, 1, 1, 0.1);
}

.modal {    
    color: #000000;
    background-color: #ffffff;   
}

.modal h2 {
    font-size: 45px;
    line-height: 45px;
}

.appointment-item-input {
    width: 360px;
    height: 50px;    
    background-color: #ffffff;
}

.appointment-item-comment {
    width: 760px;
    height: 118px;    
    background-color: #ffffff;
}

.button-send {
    width: 260px;
    height: 50px;
    color: #ffffff;
    background-color: #fb565a;
    border: none;
    border-radius: 3px;
}

.page-title {
    padding: 0;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px; 
    padding-bottom: 116px;
    background-color: #eeeeee;
}

.catalog-columns {
    display: flex;
    justify-content: space-around;
}

.filters {
    width: 261px;
}

.filter fieldset {
    border: none;  
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
}

.filter ul {
    list-style: none;
    line-height: 20px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
    padding: 19px 88px 18px 89px;
    width: 260px;
    height: 50px;
    line-height: 18px;    
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: rgba(0, 1, 1, 0.1);
}

.catalog {
    width: 760px;
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
    list-style: none;
}

.catalog-item {
    width: 360px;
    margin-bottom: 33px;
    margin-right: 40px;
}
.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item a {
    color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
    color: #fb565a;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog-item h3 {
    font-size: 18px;
    line-height: 30px;
}

.catalog-item p {
    
    line-height: 18px;
    color: #666666;
}

a.button {
    color: #ffffff;
}

a.button:hover,
a.button:focus {
    color: #ffffff;
    background-color: #e74246;
}
a.button:active {
    background-color: #d7373b;
}

.button {
    padding: 19px 60px 18px 62px;
    text-align: center;    
    line-height: 18px;
    border-radius: 3px;
    background-color: #fb565a;
}

.project {
    width: 360px;
    height: 231px;
    text-align: center;
    background-color: #eeeeee;
}

.pagination-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.pagination-item {
    color: #000000;
    line-height: 18px;
    
    text-align: center;    
    background-color: #eeeeee;   
    margin-right: 11px;
}

.pagination-item a {
    color: #000000;  
}

.pagination-item a:hover,
.pagination-item a:focus {
  background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
}

.pagination-item-current a {
    color: #000000;  
    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.social-vk {
    background-image: url("/img/vk-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-fb {
    background-image: url("/img/fb-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-insta {
    background-image: url("/img/insta-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
