body {
    margin: 0px;
    padding: 0;
    min-width: 1200px;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    
    color: #000000;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

.visually-hidden/*:not(:focus):not(:active)*/ {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
    text-decoration: none;
}
/*
img {
    max-width: 100%;
    height: auto;
}
*/
.main-header {
    background-color: #eeeeee;
}

.slider {
    position: relative;
    
    background-color: #eeeeee;
}

.slider-controls {
    position: absolute;
    left: 50%;
    bottom: 104px;
    z-index: 100;
    
    width: 160px;
    height: 18px;
  
    text-align: center;
    font-size: 0;
    transform: translateX(-50%);
}
.slider-controls label {
    position: relative;
    
    display: inline-block;
    width: 18px;
    height: 18px;
    padding: 8px;
    
    border-radius: 50%;
    cursor: pointer;
}

.slider-controls label::after {
    content: "";
    
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
    
    width: 18px;
    height: 18px;
    
    background: #ffffff;
    
    border-radius: 50%;
}

.slider-list {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.slider-item {
    display: none;
    padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
    background-image: url("../img/slide1.png");
    background-repeat: no-repeat;
    background-position: 93% 18px;
}

.slider-item:nth-child(2) {
    background-image: url("../img/slide2.png");
    background-repeat: no-repeat;
    background-position: 100% 0;
}

.slider-item:nth-child(3) {
    background-image: url("../img/slide3.png");
    background-repeat: no-repeat;
    background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
  
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
  
#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
    display: block;
}
  
#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 4px;
    height: 4px;
    margin: -4px;
    background-color: inherit;
    border: 2px solid #c1c1c1;
    border-radius: 50%;
}

.slider-item h3 {
    max-width: 600px;
    margin: 0;
    margin-bottom: 27px;
    
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
}

.slider-item p {
    max-width: 430px;
    margin: 0;
    margin-bottom: 38px;
}

.slider-item-button {
    /*display: block;*/
    width: 240px;
    padding: 13px 0;
    
    background-color: #fb565a;
}

.button.slider-item-button:hover,
.button.slider-item-button:focus {
  background-color: #e74246;
}

.button.slider-item-button:active {
    background-color: #d7373b;
    color: rgba(255, 255, 255, 0.3);
}

.main-header h1 {
    padding: 0;
    margin: 0;
    background-color: #eeeeee; 
}

.main-navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
       
    color: #000000;
    background-color: #eeeeee;
}

.main-header-logo {
    padding: 0;
    margin: 0;
     
    margin-top: 49px;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.8;
}

.main-header-logo:active {
    opacity: 0.3;
}

.main-navigation-wrapper {
    width: 100%;
    background-color: #eeeeee;
    padding-bottom: 0px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

.main-navigation-wrapper li {
    margin-right: 48px;
}

.site-navigation {
    display: flex;
    width: 440px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 83px;
}

.user-navigation {
    display: flex;
    
    max-width: 115px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 83px;
}

.site-navigation a,
.user-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #fb565a;
}

.site-navigation a:active,
.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}


.site-navigation-current {
    position: relative;
}
.site-navigation-current::after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 12px;
    left: 0px;
    height: 2px;
    background-color: #fb565a;
}

.site-navigation-current a:hover,
.site-navigation-current a:focus,
.site-navigation-current a:active {
    color: #000000;
}

.user-navigation {
    margin-left: 0;
}

.basket::before {
    background-image: url("../img/basket-icon.svg");
}

.basket::before {
    content: "";
    position: absolute;
    top: 85px;
    right: 300px;
    width: 15px;
    height: 15px;
    opacity: 0.3;
    background-repeat: no-repeat;
}

.basket:hover::before,
.basket:focus::before,
.basket:active::before {
    opacity: 0.3;
}

.user-navigation:hover a,
.user-navigation:focus a {
    color: red;
}

.user-navigation:active a {
    color: rgba(0, 0, 0, 0.3);
}

.service {
    position: relative;
    border-bottom: 2px solid #eeeeee;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 98px;
    margin-right: 100px;
    list-style: none;
}

.service-list li {
    margin-right: 100px;
}

.service-list h3 {
    padding: 0;
    margin: 0;
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 26px;
}

.service-list p {
    padding: 0;
    margin: 0;
    width: 238px;
    line-height: 24px;
    color: #283136;
    margin-bottom: 51px;
}

.button {
    line-height: 18px;
    color: #ffffff;
    width: 160px;
    /*height: 50px;*/
    text-transform: uppercase;
    text-align: center;
    border: none;
    border-radius: 3px;
}
.button.button-red {   
    background-color: #fb565a;
}

.button.button-green {   
    background-color: #00ca74;
}

.button.button-yellow {
    background-color: #efc84a;
}
.button.button-red:hover,
.button.button-red:focus {
    background-color: #e74246;
}
.button.button-red:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #d7373b;
}

.button.button-green:hover,
.button.button-green:focus {
    background-color: #00bc6c;
}
.button.button-green:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #00aa62;
}

.button.button-yellow:hover,
.button.button-yellow:focus {
    background-color: #eab534;
}
.button.button-yellow:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #e5a722;
}

.about-us {
    padding: 0;
    margin: 0;
    display: flex;
    /*margin-bottom: 76px;*/
}
.description {
    margin-top: 40px;
    margin-bottom: 52px;
}

.description h2 {
    padding: 0;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    margin-right: 152px;
    margin-bottom: 35px;
}

.description p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin-right: 185px;
    margin-bottom: 47px;
}

.description h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 24px;
}
.description-list {
    padding: 0;
    margin: 0;
    list-style: none;
    padding-left: 35px;
}

.description-item {
    color: #283136;
    position: relative;
    text-align: left;

    margin-bottom: 24px;
}

.description-item::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    position: absolute;
    top: 12px;
    left: -34px;
}

.statistics p {
    width: 328px;
    height: 15px;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    padding: 0 17px 0 15px;
    margin-bottom: 49px;
}

.pictures {
    padding: 0;
    margin: 0;
    margin-bottom: 41px;
}

.percentages {
    padding: 0;
    margin: 0;
    vertical-align: center;
    font-size: 45px;
    font-weight: bold;
    line-height: 10px;
    
    padding: 0 0 27px 0;
}

sup {
    font-size: 24px;
}

.details {
    color: #283136;
    line-height: 18px;
}

.partners {
    padding: 0;
    margin: 0;
    /*height: 90px;*/
    position: relative;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
    padding-top: 46px;
    padding-bottom: 44px;
    margin-bottom: 80px;
}

.partners a {
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}
.partners a:active {
    opacity: 0.1;
}

.partners .partners-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.main-footer {
    margin: 0;
    padding: 0;
    margin-bottom: 69px;
}

.main-footer .container {
    display: flex;
}

.main-footer b {
    display: flex;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin: 0;
    margin-left: 139px;
    margin-bottom: 12px;
}

.main-footer p {
    display: flex; 
    line-height: 22px;
    color: #444444;
    padding: 0;
    margin: 0;
    margin-left: 141px;
}

.footer-social {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #e1e1e1;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    margin-right: 12px;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #e74246;    
}

.footer-social a:active {
    background-color: #d7373b;
}

.social-vk::before {
    background-image: url("../img/vk-icon.svg");
}

.social-fb::before{
    background-image: url("../img/fb-icon.svg");
}

.social-insta::before {
    background-image: url("../img/insta-icon.svg");
}

.social::before {
    content: "";
    position: relative;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social:hover::before,
.social:focus::before {
    background-color: #e74246;
}

.social:active::before {
    background-color: #d7373b;
    opacity: 0.3;
}

.page-title {
    padding: 0;
    margin: 0;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    margin-bottom: 60px;
    padding-top: 80px; 
    padding-bottom: 116px;
    background-color: #eeeeee;
}

.catalog-columns {
    display: flex;
    justify-content: space-around;
}

.filters {
    width: 261px;
}

.filter fieldset {
    padding: 0;
    margin: 0;
    border: none;
    margin-bottom: 51px;
}

.filter legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 21px;
}

.filter ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 20px;
}

.filter-option {
    margin-bottom: 15px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #283136;
}

.filter-input:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
    padding: 19px 88px 18px 89px;
    width: 260px;
    height: 50px;
    line-height: 18px;
    text-transform: uppercase; 
    background-color: #eeeeee;
}

.filter-button:hover,
.filter-button:focus {
    background-color: #dfdfdf;
}

.filter-button:active {
    background-color: rgba(0, 1, 1, 0.1);
}

.catalog {
    width: 760px;
    
}
.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    list-style: none;
}

.catalog-item {
    padding: 0;
    margin: 0;
    position: relative;
    width: 360px;
    
    margin-bottom: 33px;
    margin-right: 40px;
}

.catalog-item::before {
    background-image: url("../img/browser.svg");
    opacity: 0.12;
}

.catalog-item::before {
    content: "";
    display: block;
    
    top: 0;
    left: 0;
    width: 360px;
    height: 40px;
    background-color: #ffffff;
}

.project {
    padding: 0;
    margin: 0;
    width: 360px;
    height: 231px;
    position: absolute;
    bottom: 0;
    left: 0;
    
    /*opacity: 0;*/
    text-align: center;
    background-color: #eeeeee;
}
/*
.catalog-current.project:hover,
.catalog-current.project:focus,
.catalog-current.project:active {
    opacity: 1; 
}
*/
.catalog-item:nth-child(2n) {
    margin-right: 0;
}

.catalog-item a {
    color: #000000;
}

.catalog-item a:hover,
.catalog-item a:focus {
    color: #fb565a;
}

.catalog-item a:active {
    color: rgba(0, 0, 0, 0.3);
}
.catalog-item h3 {
    font-size: 18px;
    padding-top: 35px;
    margin-bottom: 25px;
}

.catalog-item p {    
    
    color: #666666;
    margin-bottom: 30px;
}

a.button {
    color: #ffffff;
}

a.button:hover,
a.button:focus {
    color: #ffffff;
    background-color: #e74246;
}
a.button:active {
    background-color: #d7373b;
}

.button {
    padding: 19px 60px 18px 62px;
    text-align: center;    
    line-height: 18px;
    border-radius: 3px;
    background-color: #fb565a;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 27px;
    margin-bottom: 60px;
}

.pagination-item {
    color: #000000;
    line-height: 18px;
    
    border-radius: 3px;
    background-color: #eeeeee;   
    margin-right: 11px;
}

.pagination-item:last-child {
    margin-right: 0;
}

.pagination-item a {
    display: block;
    padding: 19px 21px;
    color: #000000;  
}

.pagination-item.next a {
    text-transform: uppercase;
    padding: 19px 79px;
}

.pagination-item a:hover,
.pagination-item a:focus {
    border-radius: 3px;
    background-color: #dfdfdf;
}

.pagination-item a:active {
    color: rgba(0, 1, 1, 0.1);
    background-color: #d5d5d5;
}

.pagination-item-current a {
    border: solid 1px #dbdbdb;
    border-radius: 3px;    
    color: #000000;  
    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}



/* Всплывающее окно */

.modal {
    position: fixed;
    color: #000000;    
    box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
    top: 60px;
    left: 240px;
    width: 960px;
    height: 590px;
    
    display: none;
    z-index: 3;

    background-color: #ffffff;
}

.modal-show {
    display: block;
}

.modal h2 {
    padding: 0;
    margin: 0;
    font-size: 45px;
    line-height: 45px;
    height: 33px;
    margin-top: 73px;/**/
    margin-left: 100px;/**/
    margin-bottom: 49px;
}

.feed {
    padding: 0;
    margin: 0;
    display: flex;
    width: 760px;
    margin-left: 100px;
}

.input {
  box-sizing: border-box;
  width: 360px;
  height: 50px;
  padding: 18px 16px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 34px;
  opacity: 0.5;
  
  border: solid 2px #d7dcde;
  border-radius: 4px;

}

.comment {
    box-sizing: border-box;
    width: 760px;
    height: 118px;
    padding: 14px 15px;
    border: solid 2px #d7dcde;
    border-radius: 4px;
    opacity: 0.5;
    margin-top: 10px;
    margin-bottom: 45px;
}

.letter {
    margin-left: 100px
}

.input:hover,
.comment:hover {
    border-color: #b4b9bb;
}

.input:focus,
.comment:focus {
    border-color: #000000;
}

.item-input,
.item-comment {
    padding: 0;
    margin: 0px;
    height: 13px;
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    
}

.button-send {
    padding: 0;
    margin: 0;
    width: 260px;
    height: 50px;
    color: #ffffff;
    background-color: #fb565a;
    text-transform: uppercase;
    text-align: center;    
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 100px;
}

.modal-close {
    position: absolute;
    top: 78px;
    right: 90px;    
    width: 21px;
    height: 21px;
    border: 0;
    cursor: pointer;
    background-color: #ffffff;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 2px;

  width: 19px;
  height: 3px;

  background-color: red;
}

.modal-close::before {
    transform: rotate(45deg);
}
  
.modal-close::after {
    transform: rotate(-45deg);
}

/* Стилизация карты */

.map-contacts {
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 2;
    margin-top: 54px;
    margin-left: 140px;
    width: 319px;
    height: 308px;
    background-color: #ffffff;
}

.map-contacts h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    /*line-height: 30px;*/
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 54px;
    margin-left: 50px;
    margin-bottom: 32px;
}

.map-contacts p {
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    width: 200px;    
    color: #666666;
    margin-left: 50px;
}

p.phone {
    margin-bottom: 37px;
}

p.phone a {
    color: #666666;
}

.button-send.write {
    padding: 0;
    margin: 0;
    width: 219px;
    border: none;
    margin-left: 50px;
}

.map {
    margin-bottom: 69px;
}
.map iframe {
    width: 100%;
    border: none;   
}


/* Стилизация фильтра прайса*/

.filter-item {
    margin: 0;
    padding: 0; 
    border: none;
    width: 260px;
    margin-bottom: 62px;
}
  
.range-filter {
    width: 260px;
}

.filter-item legend {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 56px;
}
  
.range-controls {
    position: relative;    
    height: 41px;
    margin-bottom: 15px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;    
    background-color: #f1f1f1;    
    border-radius: 5px;
}

.range-controls .scale {
    height: 2px;  
    background: #d7dcde;
}

.range-controls .bar {
    width: 70%;
    height: 2px;
  
    background: #00ca74;
}
  
.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    
    width: 4px;
    height: 4px;
    padding: 0;
  
    border: 8px solid #ffffff;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
    border-radius: 50%;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 50px;
}
  
.range-controls .toggle-max {
    left: 110px;
}
  
.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;    
    font-size: 16px;
    text-transform: uppercase;
}

.price-controls input {
    width: 65px;
    padding: 8px 10px;
    margin-left: 10px;    
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

.max-price {
    text-align: right;
}

.filter-sort {
    display: flex;
    
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.filter-sort h3 {
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 267px;
}

.filter-sort a {
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    margin-right: 26px;
}

.filter-sort a:hover,
.filter-sort a:focus {
    color: rgba(0, 0, 0, 0.6);
}

.filter-sort a:active {
    color: #000000;
}

.filter-sort-current a {
    color: #000000;
}

.filter-sort-current a:hover,
.filter-sort-current a:focus,
.filter-sort-current a:active {
    color: #000000;
}